.gallery:hover {
    transform: scale(1.1);
}

.gallery {
    transition: 0.3s;
}

.galleryButton :hover {
    transform: scale(1.5);
}

.galleryButton {
    transition: 5s;
}

.star :hover {
    transform: scale(1.9);
}